body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 14px;
    font-family: normal;
    color: #000000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}