body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 14px;
    font-family: normal;
    color: #000000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

.search-index {
    /* 固定定位跟父级没有关系以屏幕为主 */
    position: fixed;
    top: 0;
    /* 屏幕居中 */
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 540px;
    min-width: 320px;
    /* 固定盒子必须要有宽度 */
    width: 100%;
    height: 44px;
    background-color: aqua;
    border-radius: 5px;
}

.search {
    position: relative;
    flex: 1
}

.user {
    position: relative;
    right: 0;
    width: 44px;
    height: 44px;
    display: block;
    background-color: beige;
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;

}